/*!
 * TNA home styles
 *
 */
/* Home global */
.equal-heights-flex-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* Cards */
/* Home banner */
.flex-row .hero-banner p {
  margin-bottom: .5em; }
@media (min-width: 768px) {
  .flex-row .hero-banner {
    display: table; }
    .flex-row .hero-banner a {
      display: table-row; }
    .flex-row .hero-banner .entry-image {
      display: table-cell;
      width: 50%; }
    .flex-row .hero-banner .hero-banner-entry {
      display: table-cell; }
    .flex-row .hero-banner .entry-date {
      position: relative; }
    .flex-row .hero-banner .feature, .flex-row .hero-banner .news, .flex-row .hero-banner .bog, .flex-row .hero-banner .multimedia {
      min-height: 240px; }
    .flex-row .hero-banner .event {
      padding: 1em 1em 1.6em 1em; } }
@media (min-width: 922px) {
  .flex-row .hero-banner .entry-image {
    width: 60%; } }
@media (min-width: 1240px) {
  .flex-row .hero-banner .entry-image {
    width: 68%; } }

/* Alert */
.home-alert {
  background-color: #fff2ae;
  border-left: #FCE45C 4px solid;
  padding: 7px 32px;
  margin-bottom: 1.5em;
  box-shadow: 0 2px 5px #ddd; }
  .home-alert .alert-content {
    padding-right: 30px; }

.alert-dark {
  background-color: #222;
  color: #fff;
  border-left: #000 4px solid; }
  .alert-dark a {
    color: #fce45c; }

/* Masthead */
.masthead {
  display: block;
  height: auto;
  min-height: 260px;
  padding: 0;
  position: relative;
  margin-bottom: 1.5em; }
  .masthead .masthead-image {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center right;
    background-size: cover; }
  .masthead .masthead-header {
    margin: 58px 0 48px 0; }
    .masthead .masthead-header h1 {
      font-size: 3.6em;
      color: #008484;
      margin: 0;
      line-height: 1em; }
    .masthead .masthead-header h2 {
      margin: 0; }
  .masthead a.button {
    padding: 0.5em 2.6em;
    margin: 0 0.3em 0.7em; }
  .masthead a.button:focus {
    color: #fff !important; }
  .masthead a.button span {
    font-size: 1.2em; }
  .masthead .opening-times {
    padding: 0.9em 1.5em 0.9em 70px;
    text-align: left;
    background: url("../img/clock.png") left center no-repeat;
    position: relative;
    margin-bottom: 48px; }
  @media (max-width: 960px) {
    .masthead a.button {
      padding: 0.5em 1em;
      margin: 0 0.1em 0.7em; }
    .masthead a.button span {
      font-size: 1em; } }
  @media (max-width: 768px) {
    .masthead .masthead-image {
      background-image: url("../img/masthead-mobile-bg.jpg") !important; }
    .masthead .opening-times a {
      display: block;
      clear: both; } }
  @media (max-width: 480px) {
    .masthead .masthead-header {
      margin: 68px 0 18px 0; }
      .masthead .masthead-header h1 {
        font-size: 3.2em; }
      .masthead .masthead-header h2 {
        font-size: 1.4em; }
    .masthead .masthead-image {
      background-size: auto 336px;
      background-repeat: no-repeat;
      background-position: top right; }
    .masthead a.button {
      width: 100%;
      margin: 0 auto 0.7em; }
    .masthead .opening-times {
      padding: 0;
      background: none;
      margin-bottom: 58px; } }
