/* Alert */

.home-alert {
  background-color: #fff2ae;
  border-left: #FCE45C 4px solid;
  padding: 7px 32px;
  margin-bottom: 1.5em;
  box-shadow: 0 2px 5px #ddd;
  .alert-content {
    padding-right: 30px;
  }
}
.alert-dark {
  background-color: #222;
  color: #fff;
  border-left: #000 4px solid;
  a {
    color: #fce45c;
  }
}