/* Home banner */

.home-banner {
  margin: 1.6em 15px;
  background-position: center center;
  background-size: cover;

  .entry-wrapper {
    padding: 1.3em;
    width: 100%;
    background: #000;
    background: -webkit-linear-gradient(left, #000 , transparent);
    background: -o-linear-gradient(right, #000, transparent);
    background: -moz-linear-gradient(right, #000, transparent);
    background: linear-gradient(to right, #000 , transparent);
  }
  .entry-content {
    color: #fff;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 48% 0 15px;
  }
}