/* Home banner */

.home-banner {
  margin: 0 15px 1.5em 15px;
  background-position: left center;
  background-size: cover;
  box-shadow: 0 2px 5px #ddd;

  .entry-wrapper {
    padding: 1.3em;
    width: 100%;
    background: transparent;
    background: -webkit-linear-gradient(left, #000, transparent);
    background: -o-linear-gradient(right, #000, transparent);
    background: -moz-linear-gradient(right, #000, transparent);
    background: linear-gradient(to right, #000, transparent);
  }
  .entry-content {
    color: #fff;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 48% 0 15px;
  }
  .content-type {
    border-left: #ebab01 4px solid;
    padding: 0 0.5em;
  }
  .content-type img {
    float: right;
    width: 1em;
    height: 1em;
  }
  @media (max-width: 480px) {
    .entry-content {
      padding: 0 15px;
    }
  }
}

.flex-row .hero-banner {
  @media (min-width: 768px) {
    display: table;
    a {
      display: table-row;
    }
    .entry-image {
      display: table-cell;
      width: 50%;
    }
    .hero-banner-entry {
      display: table-cell;
    }
    .entry-date {
      position: relative;
    }
    .feature, .news, .bog, .multimedia {
      min-height: 240px;
    }
  }
  @media (min-width: 922px) {
    .entry-image {
      width: 60%;
    }
  }
  @media (min-width: 1240px) {
    .entry-image {
      width: 68%;
    }
  }
}