/* Landingpage links */

.link-cards-wrapper {
  margin-bottom: 0.5em;
  .col-link-card {
    margin-bottom: 1em;
  }
  a {
    position: relative;
    display: block;
    height: 100%;
  }
  a:hover {
    text-decoration: none;
  }
  .link-card {
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px #ddd;
  }
  .entry-head {
    display: table;
    padding: 1em 1.5em;
    background-color: #597a87;
    min-height: 98px;
    height: auto;
    width: 100%;
    color: #fff;
    h3 {
      margin: 0;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .entry-content {
    padding: 1em 1em 0 1em;
    color: #444;
  }
}