/* Masthead */

.masthead {
  display: block;
  background-color: #ddd;
  background-position: center right;
  background-size: cover;
  height: auto;
  min-height: 260px;
  padding: 0;
  position: relative;
  margin-bottom: 1.5em;
  .masthead-header {
    margin: 58px 0;
    h1 {
      font-size: 3.6em;
      color: #008484;
      margin: 0;
      line-height: 1em;
    }
    h2 {
      margin: 0;
    }
  }
  a.button {
    padding: 0.5em 2.6em;
    margin-bottom: 12px;
  }
  a.button:focus {
    color: #fff !important;
  }
  a.button span {
    font-size: 1.2em;
  }
  .opening-times {
    padding: 0.9em 1.5em 0.9em 70px;
    text-align: left;
    background: url(../img/clock.png) left center no-repeat;
    position: relative;
    margin: 12px 0;
  }
  @media (max-width: 826px) {
    a.button {
      padding: 0.5em 1.6em;
    }
  }
  @media (max-width: 767px) {
    min-height: 300px;
    h1 {
      margin-top: 32px;
      margin-bottom: 16px;
      font-size: 1.8em;
    }
  }
}