/* Masthead */

.masthead {
  display: block;
  height: auto;
  min-height: 260px;
  padding: 0;
  position: relative;
  margin-bottom: 1.5em;
  .masthead-image {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center right;
    background-size: cover;
  }
  .masthead-header {
    margin: 58px 0 48px 0;
    h1 {
      font-size: 3.6em;
      margin: 0;
      line-height: 1em;
    }
    h2 {
      margin: 0;
    }
  }
  a.button {
    padding: 0.5em 2.6em;
    margin: 0 0.3em 1em;
  }
  a.button span {
    font-size: 1.2em;
  }
  .opening-times {
    padding: 0.9em 1.5em 0.9em 70px;
    text-align: left;
    background: url("../img/clock.png") left center no-repeat;
    position: relative;
    margin-bottom: 48px;
    a {
      color: #004880;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  @media (max-width: 960px) {
    a.button {
      padding: 0.5em 1em;
      margin: 0 0.1em 0.7em;
    }
    a.button span {
      font-size: 1em;
    }
  }
  @media (max-width: 768px) {
    .masthead-image {
      background-image: url('../img/masthead-mobile-bg.jpg') !important;
    }
    .opening-times a {
      display: block;
      clear: both;
    }
  }
  @media (max-width: 480px) {
    .masthead-header {
      margin: 68px 0 18px 0;
      h1 {
        font-size:3.2em;
      }
      h2 {
        font-size:1.4em;
      }
    }
    .masthead-image {
      background-size: auto 336px;
      background-repeat: no-repeat;
      background-position: top right;
    }
    a.button {
      width: 100%;
      margin: 0 auto 0.7em;
    }
    .opening-times {
      padding: 0;
      background: none;
      margin-bottom: 58px;
    }
  }
}